body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #fff;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-header {
  color: #2e2f42;
}

.menu-links {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.menu-links .link {
  color: #2e2f42;
}

.menu-links .link:hover,
.menu-links .link:focus {
  color: #404bbf;
}

.contact-links {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contact-links .link {
  color: #434455;
}

.contact-links .link:hover,
.contact-links .link:focus {
  color: #404bbf;
}

.hero {
  background: #2e2f42;
}

.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
}

.content-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.section-team {
  background: #f4f4fd;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.team-list-item {
  background-color: #ffffff;
}

.footer {
  background: #2e2f42;
}

.logo-footer {
  color: #f4f4fd;
}

.text-footer {
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
