body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background: #fff;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

/* --------------HEADER-------------- */

.header-list {
  display: flex;
  justify-content: space-between;
  margin: 24px auto;
}

.logo {
  font-family: 'Raleway', sans-serif;
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.nav-list {
  display: flex;
}

.logo-header {
  color: #2e2f42;
}

.menu-links {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  gap: 40px;
}

.menu-links .link {
  color: #2e2f42;
}

.menu-links .link:hover,
.menu-links .link:focus {
  color: #404bbf;
}

.contact-links {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contact-links-list {
  display: flex;
  gap: 40px;
}

.contact-links .link {
  color: #434455;
}

.contact-links .link:hover,
.contact-links .link:focus {
  color: #404bbf;
}

/* -------------HERO------------- */

.hero {
  background: #2e2f42;
}

.hero .container {
  padding-top: 188px;
  padding-bottom: 292px;
}

.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  max-width: 496px;
  margin-bottom: 48px;
}

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
}

/* -------------MAIN-PART-------------- */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-list {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

.content-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  padding-top: 120px;
  padding-bottom: 8px;
  max-width: 264px;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding-bottom: 120px;
  max-width: 264px;
}

.section-team {
  background: #f4f4fd;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  padding-top: 120px;
  padding-bottom: 72px;
}

.team-list-item {
  background-color: #ffffff;
}

.team-list {
  padding-bottom: 120px;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.team-list-item {
  border-radius: 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.content-title-team {
  padding-top: 32px;
  margin-bottom: 8px;
  text-align: center;
}

.text-team {
  padding-bottom: 32px;
  text-align: center;
}

.porfolio-wrap {
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-bottom: 120px;
}

.content-title-port {
  padding-top: 32px;
  padding-left: 16px;
}

.text-port {
  padding-bottom: 32px;
  padding-left: 16px;
}

/* -----------FOOTER-------- */

.container-footer {
  padding-top: 100px;
}

.footer {
  background: #2e2f42;
}

.logo-footer {
  color: #f4f4fd;
}

.text-footer {
  color: #f4f4fd;
  letter-spacing: 0.02em;
  padding-bottom: 100px;
  padding-top: 16px;
  margin-left: 0;
}
